@font-face{
    font-family: "Century Gothic";
    src:url('../fonts/GOTHIC.TTF');
}
.back_resize{
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.header{
    height: 1200px;
    background-image: url('../images/header.jpg');
    /* background-image: url('C:/Users/Администратор/Desktop/Новая%20папка/homee/trusiki/images/header.jpg'); */
    text-align: right;
    color: #030303;
    font-family: 'Century Gothic';
    font-weight: 400;
    line-height: 84px;
}
.header__menu{
    padding-top: 40px;
    padding-right: 60px;
    margin-bottom: 370px;
}
.header__menu__btn{
    font-size: 60px;
    color: white;
    transition: .3s ease-in-out;
}
.header__menu__btn:hover{
    color: red;
}
.header .row{
    text-align: center;
}
.header__h1{
    font-weight: 500;
    font-size: 103px;
}
.header__h2{
    margin-top: -50px;
    font-weight: 500;
    font-size: 65px;
}
.about{
    padding-top: 150px;
    background-image: url('../images/about.png');
    /* background-image: url('C:/Users/Администратор/Desktop/Новая%20папка/homee/trusiki/images/about.png'); */
    height: 1035px;
    text-align: right;
}
.about__h1{
    transform: rotate(10deg);
    color: #fdfcfb;
    font-family: 'Franklin Gothic';
    font-size: 90px;
    font-weight: 300;
    line-height: 65px;
    text-transform: uppercase;
}
.about__h1--second{
    background: #8a564a;
    color: #c79692;
    transform: none;
    font-family: 'Franklin Gothic';
    font-size: 90px;
    font-weight: 300;
    line-height: 65px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 20px;
    display: inline-block;
    padding: 10px 15px;
}
.about__span{
    color: #8a564a;
    font-family: "Segoe Print";
    font-size: 50px;
    font-weight: 400;
    line-height: 65px;
}
.about__text{
    margin-bottom: 55px;
    display: block;
    text-align: left;
    color: #211c1c;
    font-family: "Century Gothic";
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
}
.about__btn{
    display: block;
    text-align: center;
    color: #fefefe;
    font-family: "Segoe Print";
    font-size: 50px;
    font-weight: 400;
    line-height: 48px;
    background-color: #76131a;
    padding: 15px 35px;
    padding-bottom: 25px;
    text-decoration: none;
    transition: .5s;
}
.about__btn:hover{
    color: pink;
    border-radius: 50%;
}
.models{
    background-color: #4e2627;
    width: 100%;
    padding: 150px 180px;
    height: 1200px;
    text-align: center;
}
.models .row{
    flex-wrap: nowrap !important;
}
.models__content{
    margin-right: 135px;
}
.models__content--first{
    margin-left: -150px;
}
.models__text{
    color: #fbf7f7;
    font-family: "Century Gothic";
    font-size: 40px;
    font-weight: 400;
    display: block;
    margin-top: -120px;
    line-height: 48px;
}
.model__img{
    width: 100%;
}
.purchese{
    background-image: url('../images/purchese.png');
    /* background-image: url('C:/Users/Администратор/Desktop/Новая%20папка/homee/trusiki/images/purchese.png'); */
    height: 990px;
    text-align: right;
    padding-top: 50px;
}
.purchese__buy{
    transform: rotate(10deg);
    color: #784042;
    font-family: 'Franklin Gothic';
    font-size: 90px;
    font-weight: 800;
    line-height: 65px;
    text-transform: uppercase;
}
.purchese__now{
    color: #e2a4a0;
    font-family: 'Franklin Gothic';
    background-color: black;
    font-size: 90px;
    display: inline-block;
    font-weight: 800;
    line-height: 65px;
    margin-top: 95px;
    margin-bottom: 30px;
    text-transform: uppercase;
    padding: 20px 40px;
    width: 100%;
    text-align: center;
}
.purchese__discont{
    color: #020202;
    font-family: "Century Gothic";
    font-size: 55px;
    font-weight: 400;
    line-height: 65px;
}
.purchese__btn{
    color: #030303;
    text-align: center;
    background-color: white;
    font-family: "Segoe Print";
    font-size: 50px;
    font-weight: 400;
    line-height: 65px;
    margin-top: -65px;
    cursor: pointer;
    position: relative;
}
.purchese__btn:hover{
    transform: rotate(-3deg);
}
.puchese__btn--back{
    margin-top: 110px;
    transform: rotate(-3deg);
    background-color: #784042;
}
.footer{
    margin-top: -90px;
    background-image: url("../images/footer.png");
    height: 1636px;
}
.order{
    padding-top: 175px;
}
.order__h1{
    margin-bottom: 120px;
    color: #030303;
    font-family: 'Franklin Gothic';
    font-size: 90px;
    font-weight: 300;
    line-height: 108px;
    text-transform: uppercase;
}
.order__text{
    color: #e1cfca;
    font-family: 'Century Gothic';
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
}
.order__form__input{
    outline: none;
    transition: .3s;
    padding-left: 60px;
    min-width: 470px;
    max-height: 40px;
    font-family: "Century Gothic";
    font-size: 30px;
    color: #e1cfca;
    font-weight: 400;
    line-height: 108px;
    border: 0;
    border-bottom: 1px solid #bd978e;
    background-color: inherit;
}
.order__form__input:first-child{
    margin-bottom: 55px;
}
.order__form__input::placeholder{
    color: #e1cfca;
}
.order__form__input:focus{
    border-radius: 20px;
    border: 2px solid green;
}
input::-webkit-input-placeholder       {text-indent: 0px;   transition: text-indent 0.3s ease;}
input::-moz-placeholder                {text-indent: 0px;   transition: text-indent 0.3s ease;}
input:-moz-placeholder                 {text-indent: 0px;   transition: text-indent 0.3s ease;}
input:-ms-input-placeholder            {text-indent: 0px;   transition: text-indent 0.3s ease;}
input:focus::-webkit-input-placeholder {text-indent: 500px; transition: text-indent 0.3s ease;}
input:focus::-moz-placeholder          {text-indent: 500px; transition: text-indent 0.3s ease;}
input:focus:-moz-placeholder           {text-indent: 500px; transition: text-indent 0.3s ease;}
input:focus:-ms-input-placeholder      {text-indent: 500px; transition: text-indent 0.3s ease;}
.order__form__submit{
    margin-top: 120px;
    padding: 30px 35px;
    color: #fefefe;
    font-family: "Segoe Print";
    font-size: 50px;
    font-weight: 400;
    line-height: 48px;
    background-color: #76131a;
    border: 0;
    cursor: pointer;
    transition: .5s;
}
.order__form__submit:hover{
    color: rgb(201, 204, 13);
    background-color: inherit;
}
.order__form__icon{
    font-size: 30px;
    color: #fefefe;
    display: block;
    margin-left: 15px;
    position: absolute;
    margin-top: -35px;
}
.order__form__icon--first{
    margin-top: -90px;
}
.order__form__icon--second{
    transform: rotate(90deg);
}
.socmedia{
    margin-top: 300px;
}
.socmedia__icon{
    display: flex;
}
.socmedia__icons{
    cursor: pointer;
    color: #020202;
    font-size: 45px;
    font-weight: 400;
}
.socmedia__icons:hover{
    color: #a7a5a3;
}
.socmedia__copyright{
    display: block;
    margin-top: 50px;
    color: #020202;
    font-family: "Century Gothic";
    font-size: 28px;
    font-weight: 400;
    line-height: 29px;
}
.swiper-slide{
    max-width: 100%;
    text-align: center;
}
.swiper-slide img{
    margin-bottom: 100px;
}
.choose{ 
    padding-top: 150px;
    background-color: #f2d3d1;
    height: 1442px;
}
.choose__text{
    transform: rotate(-5deg);
    padding: 10px 10px;
    display: block;
    max-width: 1225px;
    color: #fffefd;
    font-family: 'Franklin Gothic';
    background-color: #76131a;
    font-size: 90px;
    font-weight: 300;
    line-height: 48px;
    text-transform: uppercase;
}
.ramka{
    position: absolute;
    z-index: 1;
    padding-left: 86px;
    padding-top: 157px;
}
.choose__slider__name{
    color: #211c1c;
    font-family: "Century Gothic";
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    text-align: center;
}
.choose__slider__text{
    color: #67605f;
    font-family: "Century Gothic";
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}
.choose__btn{
    padding: 21px 5px;
    max-width: 452px;
    margin-top: 110px;
    cursor: pointer;
    color: #fefefe;
    font-family: "Segoe Print";
    font-size: 50px;
    font-weight: 400;
    line-height: 48px;
    background-color: #76131a;
    transition: .5s;
}
.choose__btn:hover{
    background-color: inherit;
    color: black;
}
